amqp==2.6.0
asgiref==3.2.7
billiard==3.6.3.0
celery==4.4.3
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
decorator==4.4.2
defusedxml==0.7.0rc1
Django==3.0.7
django-braces==1.14.0
django-cors-middleware==1.5.0
django-oauth-toolkit==1.3.2
django-rest-framework-social-oauth2==1.1.0
django-telegram-bot==0.6.0
django-timezone-field==4.0
djangorestframework==3.3.2
dnspython==1.16.0
eventlet==0.25.2
future==0.18.2
greenlet==0.4.15
idna==2.9
kombu==4.6.9
monotonic==1.5
oauthlib==3.1.0
pycparser==2.20
PyJWT==1.7.1
pyTelegramBotAPI==3.7.1
python-crontab==2.5.1
python-dateutil==2.8.1
python-telegram-bot==12.7
python3-openid==3.1.0
pytz==2020.1
redis==3.5.3
requests==2.23.0
requests-oauthlib==1.3.0
six==1.14.0
social-auth-app-django==3.1.0
social-auth-core==3.3.3
sqlparse==0.3.1
telebot==0.0.3
tornado==6.0.4
twilio==6.41.0
urllib3==1.25.9
viberbot==1.0.11
vine==1.3.0
zope.event==4.4
zope.interface==5.1.0
