[Unit]
Description=uWSGI Emperor service

[Service]
ExecStartPre=/bin/bash -c 'mkdir -p /home/kleikoks/projects/visatut/src/config; chown kleikoks:www-data /home/kleikoks/projects/visatut/src/config'
ExecStart=/usr/local/bin/uwsgi --emperor /home/kleikoks/projects/visatut/src/config 
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target 




