{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a style="float: right;" href="/admin">Admin</a>
  <h1 style="text-align: center;">User name: "{{ request.user.username }}"</h1>
  <a style="margin: 20px 20px 20px 900px;" href="{% provider_login_url 'google' %}">Google</a>
  <a href="{% provider_login_url 'facebook' method='js_sdk' %}">Facebook</a>
  <p>{{ r }}</p>
</body>
</html>